<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF"> 
  <appenders> 
    <Console name="ConsoleDetail" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] - %m%n"/> 
    </Console> 
    <File name="Console" fileName="e://logs/1.log">
      <PatternLayout pattern ="%m%n">
      </PatternLayout>
    </File>
  </appenders> 
  <loggers> 
    <root level="info"> 
      <appender-ref ref="ConsoleDetail"/> 
    </root> 
  </loggers> 
</configuration>
