<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF"> 
  <appenders> 
    <Console name="ConsoleDetail" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] - %m%n"/> 
    </Console> 
    <Console name="Console" fileName="SYSTEM_OUT">
      <PatternLayout pattern ="%m%n"></PatternLayout>
    </Console>
  </appenders> 
  <loggers> 
    <root level="error"> 
      <appender-ref ref="Console"/> 
    </root> 
  </loggers> 
</configuration>
